@import "modules/slick";
@import "modules/slick-theme";
@import "materialize";

@import url('https://fonts.googleapis.com/css?family=Oswald:400,500');
//style personal
$naranja : #ff9800;
$azul : #0043f0;
$title-font : 'Oswald', sans-serif;

@import "modules/animate";
@import "modules/assets";
@import "modules/preloader";
@import "modules/nav";
@import "modules/header";
@import "modules/main";
@import "modules/benefits";
@import "modules/comunication";
@import "modules/gallery";
@import "modules/membership";
@import "modules/coworker";
@import "modules/map";
@import "modules/lock";
@import "modules/contact";
@import "modules/social";
@import "modules/blog";
@import "modules/articulo";
@import "modules/agenda";
@import "modules/footer";