<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Serendipia Coworking – Tu mejor hallazgo inesperado
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(href="https://file.myfontastic.com/9zzQGFsPeoFtUZEmCsyypY/icons.css" rel="stylesheet")
    link(rel="stylesheet", href="css/style.css")
  body
    include pug/nav
    include pug/coworkers
    include pug/footer