<!DOCTYPE html>
html(lang="es")
  head
    include pug/head
  body
    include pug/nav
    include pug/header
    include pug/main
    include pug/benefits
    include pug/gallery
    include pug/membership
    include pug/coworker
    include pug/map
    include pug/lock
    include pug/contact
    include pug/social
    include pug/footer