section.main-agenda
  .container
    .row
      .col.s12.l8.main-agenda__content
        h3.main-agenda__title Agenda una visita guiada
        .row
          form.col.s12
            .row
              .input-field.col.s12.m4
                input#first_name(type="text").validate
                label(for="first_name") Nombre
              .input-field.col.s12.m4
                input#last_name(type="text").validate
                label(for="last_name") Email
              .input-field.col.s12.m4
                input#last_name(type="text").validate
                label(for="last_name") Teléfono
              .input-field.col.s12.m6
                input#password(type="text").datepicker
                label(for="password") Fecha
              .input-field.col.s12.m6
                select.validate
                  option(value="" disabled selected) Elige un horario
                  each val in ['9:00 a.m', '10:00 a.m', '11:00 a.m', '12:00 a.m', '1:00 p.m', '2:00 p.m', '3:00 p.m', '4:00 p.m', '5:00 p.m', '6:00 p.m']
                    option(value= val)= val
              .input-field.col.s12.m6
                a(href="").waves-effect.waves-light.btn-large Enviar
      .col.s12.l4
        .row
          .col.s12
            .main-lock__locker.main-agenda__lock
              .btn-floating.waves-effect.waves-light.main-lock__button
                i.material-icons.icon-marker
              .main-lock__locker--content
                p.main-lock__locker--title Nuestra oficina principal
                p.main-lock__locker--description Av. Paseo de la República 3147, Of. 701, San Isidro, Lima, Perú
          .col.s12
            .main-lock__locker.main-agenda__lock
              .btn-floating.waves-effect.waves-light.main-lock__button
                i.material-icons.icon-cel
              .main-lock__locker--content
                p.main-lock__locker--title Llámanos
                p.main-lock__locker--description +511 711 8590
          .col.s12
            .main-lock__locker.main-agenda__lock
              .btn-floating.waves-effect.waves-light.main-lock__button
                i.material-icons.icon-mail
              .main-lock__locker--content
                p.main-lock__locker--title Correo
                p.main-lock__locker--description info@serendipia-coworking.com