section.main-blog
  .container
    .row
      .col.s12.m6.l8
        article.main-article
          h3.main-article__title La nueva fórmula de aprender haciendo: Lean Start Up
          h4.main-article__author Autor: Pedro José Mateos Felipe
          .main-article__button
            a(href="").main-article__button--social.waves-effect.waves-light.btn-large
              i.material-icons.icon-facebook.left
              | Facebook
            a(href="").main-article__button--social.waves-effect.waves-light.btn-large.blue
              i.material-icons.icon-twitter.left
              | Twitter
          .main-article__container
            img(src="http://serendipia-coworking.com/images/s1.jpg", alt="")
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit repellat, blanditiis, quasi voluptas incidunt laboriosam voluptate ex explicabo corrupti neque, odit aut id adipisci aperiam modi fuga illo minima eum.
          .main-article__coments
      .col.s12.m6.l4
        include aside