section.main-blog
  .container
    .row
      .col.s12.m6.l8
        each val in [1, 2, 3]
          article.main-blog__article
            .row
              .col.s12.l4
                img(src="http://serendipia-coworking.com/images/S-Blog.jpg", alt="").main-blog__article--image
              .col.s12.l8.main-blog__article--content
                h3.main-blog__article--title La nueva fórmula de aprender haciendo: Lean Start Up
                h5.main-blog__article--author Autor: Pedro José Mateos Felipe
                p.main-blog__article--description Existe una nueva manera de abordar el lanzamiento de negocios en productos y servicios que ha venido creciendo a pasos agigantados da ...
                .main-blog__article--shared
                  a(href="articulo.html").main-blog__article--initial LEER MÁS
                  a(href="").main-blog__article--social
                    i.material-icons.icon-facebook
                  a(href="").main-blog__article--social
                    i.material-icons.icon-twitter
      .col.s12.m6.l4
        include aside