section.main-contact.scrollspy#contact
  svg.svgcolor-light(preserveAspectRatio="none" viewBox="0 0 100 102" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg")
    path(d="M0 0 L50 100 L100 0 Z")
  .container
    form.row
      .col.s12.m6.wow.fadeInDown
        .row
          .col.s12
            h3.main-contact__title Consultas / Sugerencias
          .input-field.col.s12
            input#first_name(type="text").validate
            label(for="first_name") Nombre
          .input-field.col.s12
            input#first_name(type="email").validate
            label(for="first_name") Correo
          .input-field.col.s12
            input#first_name(type="text").validate
            label(for="first_name") Asunto
          .input-field.col.s12
            input#first_name(type="text").validate
            label(for="first_name") Teléfono
      .col.s12.m6.wow.fadeInDown
        .row
          .input-field.col.s12
            textarea#textarea1.materialize-textarea
            label(for="textarea1") Mensaje
          .input-field.col.s12
            a(href="").waves-effect.waves-light.btn-large.main-contact__button Enviar