section.main-coworker.scrollspy#coworker
  .container
    .row
      .col.s12
        h3.main-coworker__title.wow.fadeInDown ¿Tienes un espíritu de Coworker?
      .col.s12
        p.main-coworker__description.wow.fadeInDown Si tienes claro lo que quieres y te lanzas a ello para conseguirlo. Si quieres conocer y conectar con otras personas como tú, que tienen interés en desarrollar sus proyectos en un lugar que les permita organizarse sin distracciones. Si eres un colaborador por naturaleza, que aporta, crece y crea con los demás. Entonces… TÚ ERES UN COWORKER.
      .col.s12.wow.fadeInDown
        img.main-coworker__image(src="http://serendipia-coworking.com/img/img-seren/team.png", alt="")
