footer.main-footer
  .container
    .row
      .col.s12.m6
        a(href="").main-footer__title Politica de Privacidad
        p.main-footer__subtitle Serendipia Coworking @Derechos Reservados 2017
      .col.s12.m6.right-align
        a(href="").main-footer__prop crearperu.com

script(src="https://code.jquery.com/jquery-3.2.1.min.js")
script(src="js/bin/materialize.js")
script(src="js/bin/slick.js")
script(src="js/bin/particles.js")
script(src="js/bin/wow.js")
script(src="js/bin/instafeed.min.js")
script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEy42HRFwBy9BVWvhLu2x0-VPko5ssLnA&callback=initMap")
script(src="js/bin/script.js")