link(href="img/favicon/57.ico" rel="shortcut icon" type="image/x-icon")
link(rel="icon" href="img//favicon/57.ico" type="image/x-icon")
link(rel="shortcut icon" href="img//favicon/57.ico" type="image/x-icon")
link(rel="apple-touch-icon" sizes="57x57" href="img//favicon/57.png")
link(rel="apple-touch-icon" sizes="72x72" href="img//favicon/72.png")
link(rel="apple-touch-icon" sizes="114x114" href="img//favicon/114.png")
link(rel="apple-touch-icon" sizes="144x144" href="img//favicon/144.png")
link(rel="apple-touch-icon" sizes="320x460" href="img//favicon/320.png")
meta(charset="UTF-8")
title Serendipia Coworking – Tu mejor hallazgo inesperado
meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(href="https://file.myfontastic.com/9zzQGFsPeoFtUZEmCsyypY/icons.css" rel="stylesheet")
link(rel="stylesheet", href="css/style.css")