.slider.main-header.scrollspy#main-header
  .main-header__coworkers
    img(src="img/premium.png", alt="")
    img(src="img/visa.png", alt="")
  ul.slides
    each val in [1, 2, 3, 4]
      li
        img(src="http://serendipia-coworking.com/img/slider-espacios/new/capacitaciones.jpg")
        .caption.center-align
          img(src="http://serendipia-coworking.com/img/img-seren/logo256x200.png", alt="")
          h3.main-header__title TU MEJOR HALLAZGO INESPERADO EN EL CORAZÓN DE SAN ISIDRO
          h5.main-header__subtitle ¿Necesitas mayor información? ¿Tienes alguna duda?
          a(href="#contact").waves-effect.waves-light.btn-large.main-header__button ESCRÍBENOS