section.main-lock
  .container
    .row.center-align
      .col.s12
        h3.main-lock__title.wow.fadeInDown Separa tu espacio
      .col.s12
        p.main-lock__description.wow.fadeInDown Separa tu espacio en Serendipia Coworking y empieza a vivir una experiencia como ninguna otra en la que tu emprendimiento obtendrá grandes beneficios.
      .col.s12.m4.wow.fadeInLeft
        .main-lock__locker
          .btn-floating.waves-effect.waves-light.main-lock__button
            i.material-icons.icon-marker
          p.main-lock__locker--description Av. Paseo de la República 3147, Of. 701, San Isidro, Lima, Perú
      .col.s12.m4.wow.fadeInDown
        .main-lock__locker
          .btn-floating.waves-effect.waves-light.main-lock__button
            i.material-icons.icon-cel
          p.main-lock__locker--description +511 711 8590
      .col.s12.m4.wow.fadeInRight
        .main-lock__locker
          .btn-floating.waves-effect.waves-light.main-lock__button
            i.material-icons.icon-mail
          p.main-lock__locker--description info@serendipia-coworking.com