section.main-map.scrollspy#main-map
  .row
    .col.s12.l7.wow.fadeInLeft
      #map
    .col.s12.l5.wow.fadeInRight
      .main-map__container
        h3.main-map__title Estacionamientos cercanos
        ul.main-map__list
          li.main-map__item#portal1
            i.material-icons.main-map__icon.icon-park
            .main-map__content
              p.main-map__content--title LOS PORTALES DERTEANO: 
              p.main-map__content--description Calle Dionisio Derteano s/n- SAN ISIDRO.
          li.main-map__item#portal2
            i.material-icons.main-map__icon.icon-park
            .main-map__content
              p.main-map__content--title LOS PORTALES SEMINARIO: 
              p.main-map__content--description Calle Miguel G. Seminario s/n - SAN ISIDRO.
          li.main-map__item#portal3
            i.material-icons.main-map__icon.icon-park
            .main-map__content
              p.main-map__content--title LOS PORTALES CÁCERES: 
              p.main-map__content--description Plaza Andrés A. Cáceres (Subterráneo) - SAN ISIDRO.
          li.main-map__item#portal4
            i.material-icons.main-map__icon.icon-park
            .main-map__content
              p.main-map__content--description Estacionamientos Rivera Navarrete (ERN).
