section.main-membership.scrollspy#membership
  .container
    .row
      .col.s12
        h3.main-membership__title.wow.fadeInDown Membresías
      .col.s12
        p.main-membership__description.wow.fadeInDown Disfruta de los beneficios de un coworking eligiendo la membresía que mejor se ajuste a tus necesidades.
  .main-membership__container
    .main-membership__content
      .main-membership__item
        h4.main-membership__item--title.wow.fadeInLeft Membresía Fija
      .main-membership__item
        .main-membership__item--box.wow.fadeInRight
          p.main-membership__item--description Ideal para emprendedores o pequeñas empresas que requieran espacios con acceso ilimitado.
          a(href="agenda.html").waves-effect.waves-light.btn-large.main-membership__button SOLICITAR INFORMACIÓN
    .main-membership__content
      .main-membership__item
        h4.main-membership__item--title.wow.fadeInRight Membresía Flexible
      .main-membership__item
        .main-membership__item--box.wow.fadeInLeft
          p.main-membership__item--description Ideal para profesionales que desean socializar,hacer networking o desean independizarse, con acceso en horario de oficina.
          a(href="agenda.html").waves-effect.waves-light.btn-large.main-membership__button SOLICITAR INFORMACIÓN

.row.main-sponsor.azul
  .col.s12.center-align.wow.fadeInDown
    p.main-sponsor__description ¿Necesitas mayor información? ¿Tienes alguna duda?
    a(href="#contact").waves-effect.waves-light.btn-large.main-sponsor__button ESCRÍBENOS