#loader-wrapper
  #loader
  .loader-section.section-left
  .loader-section.section-right
.navbar-fixed
  nav.main-nav
    .nav-wrapper
      a(href="/").brand-logo 
        img(src="img/logo.svg", alt="").main-nav__logo
      a(href="#" data-activates="mobile-demo").button-collapse
        i.material-icons.icon-menu
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a(href="#spaces") espacios
        li
          a(href="#benefits") beneficios
        li
          a(href="#membership") membresías
        li
          a(href="#coworker") coworkers
        li
          a(href="blog.html") blog
        li
          a(href="#main-map") ubícanos
        li
          a.waves-effect.waves-light.btn-large(href="agenda.html").main-nav__button Solicita tu visita guiada
      ul.side-nav#mobile-demo
        li
          a(href="#spaces") espacios
        li
          a(href="#benefits") beneficios
        li
          a(href="#membership") membresías
        li
          a(href="#coworker") coworkers
        li
          a(href="blog.html") blog
        li
          a(href="#main-map") ubícanos
        li
          a.waves-effect.waves-light.btn-large(href="agenda.html").main-nav__button Solicita tu visita guiada