.main-social
  .row.main-social__container.center-align.wow.fadeInDown
    a(href="").col.s6.l3.main-social__item
      i.material-icons.main-social__icon.icon-facebook
    a(href="").col.s6.l3.main-social__item
      i.material-icons.main-social__icon.icon-linkedin
    a(href="").col.s6.l3.main-social__item
      i.material-icons.main-social__icon.icon-instagram
    a(href="").col.s6.l3.main-social__item
      i.material-icons.main-social__icon.icon-twitter