.main-article{
  background: white;
  padding: 2em;
  box-shadow: 0 3px 5px 0 rgba(black,.3);

  &__title{
    font-family: $title-font;
    font-weight: 500;
    font-size: 2.5em;
    margin: 0;
  }
  &__author{
    font-size: 1.3em;
    font-weight: 500;
    color: darken(gray,5);
  }
  &__button{
    margin-bottom: 1em;

    &--social{
      margin-right: 1em;
    }
  }
  &__container{
    img{
      width: 100%;
    }
  }
}