.main-blog{
  //background: lighten(#ccc,15);
  padding: 10em 0 2em;
  &__article{
    background: white;
    margin-bottom: 1em;
    box-shadow: 0 3px 5px 0 rgba(black,.3);
    
    .row{
      margin: 0;
      display: flex;
      flex-wrap:wrap;
      
    }
    .col{
      float: none;
      padding: 0;
    }
    &--content{
      display: flex;
      flex-direction:column;
      padding: 1em  1em 0!important;
    }
    &--image{
      display: block;
      width: 100%;
    }
    &--title{
      font-family: $title-font;
      font-size: 2.5em;
      font-weight: 500;
      margin: 0;
      width: 100%;
    }
    &--author{
      width: 100%;
      color: gray;
      font-size: 1.3em;
    }
    &--description{
      width: 100%;
    }
    &--shared{
      margin-top: auto;
      width: 100%;
      padding: .5em 0;
      display: flex;
      align-items:center;
      box-shadow: 0 -1px 0 0 lighten(gray,35);
      a{
        color: $azul;
      }
    }
    &--initial{
      font-size: 1.1em;
      padding: .5em;
      letter-spacing: 1px;
      margin-right: auto;
      box-shadow: 0 0 0 0 $azul;
      transition:all .3s;

      &:hover{
        box-shadow: 0 0 0 1px $azul;
        letter-spacing: 2px;
      }
    }
    &--social{
      padding: .5em .6em;
      display: flex;
      box-shadow: 0 0 0 0 $azul;
      transition:all .3s;
      &:hover{
        box-shadow: 0 0 0 1px $azul;
      }
    }
  }
  &__aside{
    padding: 2em 1em;
    background: white;
    box-shadow: 0 3px 5px 0 rgba(black,.3);

    div#u_0_0 ._2p3a {
      width: 100% !important;
    }

    &--title{
      font-family: $title-font;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.6em;
      margin: 1em 0 .5em;
      letter-spacing: 1px;
    }
    &--image{
      display: block;
      width: 100%;
    }
  }
}