.main-comunication{
  max-width: 900px;
  margin: 6em auto;

  &__content{
    display: flex;
    flex-wrap:wrap;
  }
  &__item{
    width: 33.33%;
    text-align: center;
    box-shadow: 0 0 0 5px white inset,
                0 0 0 6px rgba(black, .25) inset;
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items:center;
    padding: 4em 1em 7em;
    position: relative;
    color: darken(gray,15);
    transition: all 300ms linear;
    overflow: hidden;
    
    &:hover{
      background: $azul;
      box-shadow: 0 0 0 0 transparent inset,
                  0 0 0 0 transparent inset;
      color: white;
    }
    @media only screen and (max-width: 992px){
      width: 100%;
      padding: 5em 1em 8em;
    }
  }
  &__icon{
    font-size: 5em;
    transition: all 300ms linear;

  }
  &__item:hover &__icon{
    animation: smallToBig 800ms alternate ease;
  }
  &__title{
    font-size: 1.5em;
    transition: all 200ms linear;
  }
  &__item:hover &__title{
    animation: smallToBig 300ms ease;
  }
  &__data{
    width: 100%;
    position: absolute;
    font-size: 1.5em;
    bottom: 1rem;
    padding: 0 2em;
    transition: all 200ms linear;
  }
  &__item:hover &__data{
    animation: moveFromBottom 500ms ease;
  }
}