.main-coworkers{
  &__box{
    padding: 7em 0 5em;
  }
  &__card{
    margin-bottom: 2em;
    box-shadow: 0 0 0 1px rgba(black,.09);
    background: white;

    &:hover &--content{
      &:after{
        bottom: -20px;
      }
      &-description{
        opacity: 1;
      }
    }

    &--content{
      position: relative;
      color: white;
      font-weight: 300;
      box-shadow: 0 5px 0 0 black;
      z-index: 2;
      &:after{
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform:translateX(-50%);
        border-left: 45px solid transparent;
        border-right: 45px solid transparent;
        border-top: 40px solid black;
        z-index: -1;
        transition:all .5s;
      }
      &-image{
        display: block;
        width: 100%;
        position: relative;
      }
      &-description{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content:center;
        align-items:center;
        text-align: center;
        padding: 0 1.5em;
        margin: 0;
        background: rgba(black,.8);
        opacity: 0;
        font-style: italic;
        transition: all .3s;
      }
    }
    &--name{
      font-size: 1.4em;
      text-align: center;
      font-weight: 300;
      margin: 1.2em 0 .3em;
      span{
        margin-left: .3em;
        font-weight: 700;
      }
    }
    &--office{
      font-size: 1em;
      text-align: center;
      margin: 0;
      font-weight: 300;
    }
    &--social{
      display: flex;
      padding: 1em 0;
      justify-content:center;

      &-button{
        font-size: .5rem;
        display: flex;
        padding: 1em;
        margin:.5em;
        background: lighten(black,95);
        color: rgba(black,.85);
        box-shadow: 0 0 0 1px rgba(black,.15);
        transition:all .3s;

        &:hover{
          background: rgba(black,.85);
          color: white;
        }
      }
    }
  }
  &__banner{
    height: 500px;
    .parallax{
      display: flex;
      justify-content:center;
      align-items:center;
    }
  }
  &__title{
    position:relative;
    span{
      margin: 0 .5em;
      color: $azul;
      font-family: $title-font;
      text-transform: uppercase;
      font-weight: 700;
      font-size: .8em;
    }
  }
}