.main{
  &-header{
    .slides li{
      &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        background: rgba(white,.7);
        z-index: 5;
      }
      .caption{
        z-index: 50;

        img{
          width: 196px;
          height: 170px;
        }
        @media only screen and (max-width: 992px){
          top: 15%;
        }
      }
    }

    .indicators{
      z-index: 10;
      bottom: 4em;
    }

    &__title{
      font-family: $title-font;
      font-weight: 600;
      color: $naranja;
    }
    &__subtitle{
      color: $azul;
      @media only screen and (max-width: 992px){
        display: none;
      }
    }
    &__button{
      @media only screen and (min-width: 992px){
        background: $naranja;

        &:hover{
          background: lighten($naranja,5);
        }
      }
    }
    &__coworkers{
      position: absolute;
      z-index: 5;
      top: 6em;
      right: 0;
      display: flex;
      @media only screen and (max-width: 600px){
        width: 100%;
        justify-content:space-between;
      }

      img{
        padding:1em;
        display: block;
        width: 9em;
        height: 9em;
      }
    }
  }
}