.main{
  padding-top: 3em;
  .container{
    padding-bottom: 5em;
  }
  &-title{
    text-align: center;
    font-family: $title-font;
    font-weight: 500;
    text-transform: uppercase;
  }
  &-description{
    text-align: center;
  }
  &-spaces{
    text-align: center;
    display: flex;
    width: 100%;
    margin-bottom: 0;
    @media only screen and (max-width: 600px){
      flex-direction:column;
    }
    &__item{
      width: 20%;
      color: $azul;
      padding: 2.5em 0;
      cursor: pointer;
      transition:all .3s;
      box-shadow: 2px 0 0 0 rgba($azul,.1) inset;
      &:first-child{
        box-shadow: 0 0 0 0 rgba($azul,.1) inset;
      }

      &:hover, &.active{
        color: white;
        background: $azul;
      }
      @media only screen and (max-width: 600px){
        width: 100%;
        padding:0;
        text-transform: uppercase;
        .material-icons{
          display: none;
        }
      }
    }
    &__images{
      margin: 0;
      .slider{
        height: auto !important;
      }
      &--item{
        img{
          display: block;
          width: 100%;
        }
      }
    }
  }
  &-sponsor{
    background: black;
    padding: 3em 0;
    color: white;
    margin-bottom: 0;

    &.azul{
      background: $azul;
    }
    &__title{

    }
    &__description{
      font-size: 1.7em;
      margin-top: 0;
      font-weight: 300;
      font-family: $title-font;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    &__button{
      background: $naranja;
      &:hover{
        background: lighten($naranja,5);
      }
    }
  }
}