.main{
  &-nav{
    background: white;
    text-transform: uppercase;
    box-shadow: 1px 0 0 0px rgba($azul,.2);
    transition:all .3s;

    &__logo{
      margin-left: 1em;
      height: 85px;
      transition:all .3s;
      @media only screen and (max-width: 992px){
        margin-left: 0;
      }
    }
    .icon-menu{
      transition:all .3s;
      font-size: 3em;
    }
    &__button{
      color: white !important;
    }
    &.active{
      background: white;
      box-shadow: 1px 0 5px 1px rgba(black,.4);
      height: 80px;
      line-height: 80px;

      li a{
        color: darken(#eee,50);
        &:hover{
          color: $azul;
        }
      }
      .icon-menu{
        height: 80px;
        line-height: 80px;
      }
    }
    &.active &__logo{
      height: 75px;
    }
  }

}